body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html { 
  background: url(images/calcium.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: inherit;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 20px;
  color: #e67e22;
}

.btn:hover{
  text-decoration: underline;
}

.btnSmall {
  background-color: #e67e22;  /*   courtesy of flatui color site  */
  border: 2px solid #271506;
  border-radius: 10px;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px
}




/*- 2 pics on one line and third on its own looks horrible for some reason so... -*/
/*@media all and (max-width: 1800px) {
  .imageContainer {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
  }   
}
@media all and (max-width: 770px) {
  .imageContainer {
      flex-direction: column;
      align-items: center;
      margin-left: 0vw;
      margin-right: 0vw
  }   
}*/
